:host {
  .breadcrumb,
  .select-options {
    margin-bottom: 25px;
    cursor: pointer;
  }

  .breadcrumb {
    display: block;
    height: 47px;
  }

  .breadcrumb-item{
    float: left;

    &.last{
      float: right;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 80vh;

    .content {
      display: flex;
      flex-wrap: wrap;
      height: 70%;
      align-items: center;
      justify-content: space-between;
      width: 78%;
    }

    .card {
      width: 500px;
      height: 220px;
    }
  }
}

