<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Dashboard</li>
  <li class="breadcrumb-item last"><a (click)="logout()">Logout</a></li>
</ol>

<section class="wrapper">
  <section class="content">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Companies</div>
      <div class="card-body">
        <h4 class="card-title">Behired Companies</h4>
        <p class="card-text">Shows you company data.</p>
        <a class="btn btn-secondary" [routerLink]="['/lists', 'employers']">View companies</a>
      </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
      <div class="card-header">Jobs</div>
      <div class="card-body">
        <h4 class="card-title">Behired Jobs</h4>
        <p class="card-text">Shows you all the jobs created.</p>
        <a class="btn btn-secondary" [routerLink]="['/lists', 'jobs']">View jobs</a>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">Applicants</div>
      <div class="card-body">
        <h4 class="card-title">Behired Applicants</h4>
        <p class="card-text">Shows all the data related to applicants.</p>
        <a class="btn btn-secondary" [routerLink]="['/lists', 'applicants']">View applicants</a>
      </div>
    </div>
  </section>
</section>