<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
  <li class="breadcrumb-item active">Lists</li>
  <li class="breadcrumb-item last"><a (click)="logout()">Logout</a></li>
</ol>

<div *ngIf="isNoteVisible"  class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert" (click)="isNoteVisible = false">&times;</button>
  <h4 class="alert-heading">Note</h4>
  <p class="mb-0">Select a list from the drop list and the table below will change</p>
</div>

<section class="flex flex-column col-12 select-options">
  <section class="flex col-12 mb4 mt2">
    <form class="flex justify-end col-6 mr2" [formGroup]="form">
      <fieldset>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Select a list</label>
          <div class="col-sm-10">
            <select formControlName="table" class="form-control col-6">
              <option [value]="null" disabled="true">Select</option>
              <option *ngFor="let table of tableOptions" [value]="table">{{ table }}</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
  </section>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">List: {{ currentList }}</li>
  </ol>

  <section class="table-wrapper">
    <div class="jumbotron" *ngIf="currentList === 'jobs'">
      <h4>Last three jobs</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row">Address</th>
            <th scope="row">Active Job</th>
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">Pay</th>
            <th scope="row">Sector</th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of lastThreeJobs" [ngClass]="{ 'table-danger': !row['isActive'] }">
            <td *ngFor="let item of row | keyvalue" >
              <span *ngIf="item.key === 'key'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'name'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>

              <span *ngIf="item.key === 'isActive' && (item.value === null || item.value === undefined)">No data</span>
              <span class="badge badge-primary" *ngIf="item.key === 'isActive' && item.value !== null && item.value !== undefined">{{ item.value === true ? 'Active' : 'Closed' }}</span>

              <span *ngIf="item.key === 'address'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'sector'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'pay'">
                {{ item.value === null || item.value === undefined ? 'No data' : item.value }}
              </span>
            </td>
            <td>
              <a class="link" [routerLink]="['/job', row['key']]">View job</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="jumbotron" *ngIf="currentList === 'jobs'">
      <h4>All jobs</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row">Address</th>
            <th scope="row">Active Job</th>
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">Pay</th>
            <th scope="row">Sector</th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of selectedTable" [ngClass]="{ 'table-danger': !row['isActive'] }">
            <td *ngFor="let item of row | keyvalue">
              <span *ngIf="item.key === 'key'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'name'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>

              <span *ngIf="item.key === 'isActive' && (item.value === null || item.value === undefined)">No data</span>
              <span class="badge badge-primary" *ngIf="item.key === 'isActive' && item.value !== null && item.value !== undefined">{{ item.value === true ? 'Active' : 'Closed' }}</span>

              <span *ngIf="item.key === 'address'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'sector'">{{ item.value === null || item.value === undefined ? 'No data' : item.value }}</span>
              <span *ngIf="item.key === 'pay'">
                {{ item.value === null || item.value === undefined ? 'No data' : item.value }}
              </span>
            </td>
            <td>
              <a class="link" [routerLink]="['/job', row['key']]">View job</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="jumbotron" *ngIf="currentList !== 'jobs'">
      <h4>Users</h4>
      <table class="table table-hover">
        <thead *ngIf="currentList === 'applicants'">
          <tr>
            <th scope="row">Email</th>
            <th scope="row">ApplicantId</th>
            <th scope="row">RegisteredDate</th>
            <th scope="row">Name</th>
            <th scope="row">Phone</th>
          </tr>
        </thead>

        <thead *ngIf="currentList === 'employers'">
          <tr>
            <th scope="row">Email</th>
            <th scope="row">EmployerId</th>
            <th scope="row">RegisteredDate</th>
            <th scope="row">Name</th>
            <th scope="row">Phone</th>
          </tr>
        </thead>

        <tbody *ngIf="currentList === 'applicants'">
          <tr *ngFor="let row of selectedTable">
            <td>{{ row['email'] === null || row['email'] === undefined ? 'No data' : row['email'] }}</td>
            <td>{{ row['applicantId'] === null || row['applicantId'] === undefined ? 'No data' : row['applicantId'] }}</td>
            <td>{{ row['registeredDate'] === null || row['registeredDate'] === undefined ? 'No data' : row['registeredDate'] }}</td>
            <td>{{ row['firstName'] }} {{ row['lastName'] }}</td>
            <td>{{ row['mobileNumber'] === null || row['mobileNumber'] === undefined ? 'No data' : row['mobileNumber'] }}</td>
          </tr>
        </tbody>

        <tbody *ngIf="currentList === 'employers'">
          <tr *ngFor="let row of selectedTable">
            <td>{{ row['email'] === null || row['email'] === undefined ? 'No data' : row['email'] }}</td>
            <td>{{ row['employerId'] === null || row['employerId'] === undefined ? 'No data' : row['employerId'] }}</td>
            <td>{{ row['registeredDate'] === null || row['registeredDate'] === undefined ? 'No data' : row['registeredDate'] }}</td>
            <td>{{ row['contactName'] === null || row['contactName'] === undefined ? 'No data' : row['contactName'] }}</td>
            <td>{{ row['phoneNumber'] === null || row['phoneNumber'] === undefined ? 'No data' : row['phoneNumber'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
