:host {
  .breadcrumb,
  .select-options {
    margin-bottom: 25px;
    cursor: pointer;
  }

  .link {
    color: #18BC9C;
  }

  .breadcrumb {
    display: block;
    height: 47px;
  }

  .breadcrumb-item {
    float: left;

    &.last{
      float: right;
    }
  }

  .table-wrapper {
    display: block;
    width: 100%;
  }

  table {
    min-width: 100%;
    width: 100%;
    border-collapse:collapse;

    tbody tr:nth-child(odd) {
      background: #fff;
    }
  }

  .alert {
    margin: 20px 20px;
  }
}
