<section class="wrapper">
  <form class="col-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Sign In</legend>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Email*" formControlName="email" class="form-control col-12">
      </div>

      <div class="form-group">
        <label for="password">Password</label> <input type="password" placeholder="Password*" formControlName="password" class="form-control col-12">
      </div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-lg btn-block">Go</button>
    </fieldset>
  </form>
</section>
