:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
      margin-top: -200px;

      input {
        margin-bottom: 10px;
      }
    }
  }
}
