<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item" [routerLink]="['/dashboard']">Dashboard</li>
  <li class="breadcrumb-item" [routerLink]="['/lists']">Lists</li>
  <li class="breadcrumb-item active">Job</li>
  <li class="breadcrumb-item last"><a (click)="logout()">Logout</a></li>
</ol>

<section class="wrapper">
  <div class="jumbotron">
    <h1 class="display-6">Job</h1>
    <p class="lead">Below is the information about the job and company</p>

    <hr class="my-4">
    <h4>Job details</h4>
    <p><strong>Id:</strong> {{ job?.id }}</p>
    <p><strong>Name:</strong> {{ job?.name }}</p>
    <p *ngIf="job?.listOfApplications"><strong>Number of applications:</strong> {{ job?.listOfApplications.length }}</p>
    <p><strong>Sector:</strong> {{ job?.sector }}</p>
    <p><strong>Address:</strong> {{ job?.address.addressLine1 }}</p>
    <p *ngIf="job?.aboutCompany"><strong>About:</strong> {{ job?.aboutCompany }}</p>

    <p><a (click)="isDescriptionVisible = !isDescriptionVisible">View description</a></p>
    <p *ngIf="isDescriptionVisible"><strong>Description:</strong></p>
    <p *ngIf="isDescriptionVisible" [innerHtml]="job?.description"></p>

    <hr class="my-4">
    <h4>Company details</h4>
    <p><strong>Company name:</strong> {{ employer?.companyName }}</p>
    <p><strong>Contact name:</strong> {{ employer?.contactName }}</p>
    <p><strong>Email:</strong> {{ employer?.email }}</p>
    <p><strong>Phone:</strong> {{ employer?.phoneNumber }}</p>
    <p><strong>Address:</strong> {{ employer?.address.addressLine1 }}</p>
    <p><strong>Website:</strong> {{ employer?.website }}</p>
  </div>
</section>