:host {
  .breadcrumb,
  .select-options {
    margin-bottom: 25px;
    cursor: pointer;
  }

  p strong,
  p a {
    color: #18BC9C;
  }

  p a {
    text-decoration: underline;
    cursor: pointer;
  }

  .breadcrumb {
    display: block;
    height: 47px;
  }

  .breadcrumb-item{
    float: left;

    &.last{
      float: right;
    }
  }

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;

    .jumbotron {
      width: 98%;
    }
  }
}

